/*初始化样式*/
*{
	margin:0;
	padding:0;
}
body{
	font-family:"Helvetica";/*Mac系统中未下载微软雅黑字体，暂时用Helvetica代替*/
}
ul{
	list-style:none;
	overflow:hidden;
}
a{
	text-decoration:none;
	font-size:0px;
	color:black;
}
img{
	display:block;
}
/*导航样式开始*/
.nav{
	width:100%;
	height:80px;
	line-height:80px;
	background-color:#07CBC9;
	overflow:hidden;
}
.logo{
	float:left;
	margin-left:115px;
}
.logo img{
	padding-top:16px;
}
.nav-li{
	float:right;
	margin-right:65px;
}
.nav-li ul li{
	float:left;
	padding:0 12px;
}
.nav-li ul li a{
	color:white;
	font-size:16px;
	font-weight:bold;
}
.nav-li ul li a:hover{
	color:#E29795;
}
/*导航样式结束*/
/*banner图样式开始*/
.banner-wrap{
	width:100%;
	height:600px;
	position: relative;
}
.banner img{
	width:100%;
	height:600px;
}
/*遮罩层*/
.banner-wrap .mask{
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height:600px;
	background-color:#000000;
	opacity:0.5;
}
/*表单容器样式*/
.banner-wrap .send-message{
	width:511px;
	height:372px;
	position: absolute;
	margin:auto auto;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:2;
}
.banner-wrap .send-message tr td{
	border:none;
	padding-bottom:20px;
}
.banner-wrap .send-message tr td input{
	width:505px;
	height:39px;
	border:2px solid #a29c9c;
	color:#a29c9c;
	background-color:transparent;
	text-indent:10px;
}
.banner-wrap .send-message tr td input:hover{
	border-color:#07cbc9;
}

.banner-wrap .send-message tr td textarea{
	width:505px;
	height:115px;
	border:2px solid #a29c9c;
	color:#a29c9c;
	background-color:transparent;
	text-indent:10px;
}
.banner-wrap .send-message tr td textarea:hover{
	border-color:#07cbc9;
}
.banner-wrap .send-message tr td button{
	width:123px;
	height:39px;
	text-align:center;
	border:2px solid #a29c9c;
	color:#a29c9c;
	font-size:14px;
	background-color:transparent;
	margin-left:192px;
}
.banner-wrap .send-message tr td button:hover{
	cursor:pointer;
	border:none;
	color:white;
	background-color:#07cbc9;
}
/*banner图样式结束*/
.about-top{
	width:100%;
	height:735px;
}
.about-top .about{
	width:1080px;
	height:735px;
	margin:0 auto;
}
/*通用标题样式*/
.general-tit{
	font-size:50px;
	font-weight:bold;
	text-align:center;
	padding-top:50px;
}
.line{
	width:40px;
	height:2px;
	background-color:#07CBC9;
	margin:20px auto;
}
/*通用简述样式*/
.general-message p{
	font-size:12px;
	text-align:center;
	line-height:1.5em;
	color:#BEBEC3;
}
/*about图文交叉显示*/
.pic-word {
	height:380px;
	position: relative;
	margin-top:30px;
}
.pic-word .left{
	width:210px;
	height:auto;
	position: absolute;
	left:0;
	top:0;
	z-index:1;
}
.pic-word .left .left-tit{
	text-align:center;
	font-size:35px;
	padding:20px 0 10px;
}
.pic-word .left .left-content{
	width:320px;
	height:196px;
	border:1px solid #b7b2b2;
	padding:25px;
	line-height:1.5em;
	background-color:rgba(255,255,255,0.48);
}
.pic-word .left .left-content button{
	width:100px;
	height:43px;
	font-size:18px;
	border:1px solid black;
	color:white;
	background-color:black;
	margin-top:30px;
}
.pic-word .left .left-content button:hover{
	color:black;
	background-color:rgba(0,0,0,0);
	cursor:pointer;
}
.pic-word .center{
	position: absolute;
	width:568px;
	height:380px;
	left:230px;
	top:0;
}
.pic-word .center img{
	width:568px;
	height:380px;
}
.pic-word .right{
	position: absolute;
	top:0;
	right:0;
}
.pic-word .right .right-item{
	width:238px;
	height: 144px;
	text-align:center;
	border:1px solid #17CBC8;
	margin-bottom:30px;
}
.num-size{
	padding-top:20px;
	font-size:35px;
	font-weight:bold;
}
.letter-size{
	font-size:22px;
}

/*about展示区下半部分（图文混排）样式*/
.about-bottom{
	width:100%;
	height:auto;
	overflow:hidden;
	border:1px solid;
	background-color:#07cbc9;
}
.about-bottom div{
	width:25%;
	height: 400px;
	float:left;
}
.about-bottom div.school-pic img{
	width:100%;
	height:100%;
}
.school-intro p{
	line-height:1.5em;
	margin:15px 35px 0px;
}
/*通用文字属性样式*/
.fontSize12per{
	color:#D6DBDB;
	font-size:12px;
}
.fontSize14per{
	font-size:14px;
	color:#E9E9DE;
}
.fontSize22per{
	font-size:22px;
	color:white;
}
/*图文混排button样式*/
.ex-btn{
	display:block;
	width:100px;
	height:43px;
	font-size:14px;
	border:1px solid black;
	color:white;
	background-color:black;
	margin:25px auto 0;
}
.ex-btn:hover{
	color:black;
	background-color:rgba(0,0,0,0);
	cursor:pointer;
}

/*galler展示区样式*/
.gallery-pic{
	width:1170px;
	margin:0 auto;
	height:auto;
}
.gallery-pic ul li{
	float:left;
	padding:15px;
}
.gallery-pic ul li p{
	line-height:64px;
	background-color:black;
	color:white;
	text-indent:2em;
}



/*页脚样式*/
.footer{
	margin-top:20px;
	width:100%;
	color:white;
	font-size:14px;
	background-color:#07cbc9;
	line-height:80px;
	text-align:center;
}